<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Pizzashack</display-name>
	<listener>
		<listener-class>nz.co.pizzashack.BootStrap</listener-class>
	</listener>

	<servlet>
		<servlet-name>Camel</servlet-name>
		<servlet-class>org.apache.camel.component.servlet.CamelHttpTransportServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Camel</servlet-name>
		<url-pattern>/camel/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>CORS Filter</filter-name>
		<filter-class>nz.co.pizzashack.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CORS Filter</filter-name>
		<servlet-name>Resteasy</servlet-name>
	</filter-mapping>
</web-app>
