<div class="container" style="padding:20px" ng-controller="PizzaDetailInfoCtrl">
		<div class="row">
			<!--we use push and pull, make our content as show on the top of page when it is mobile style. 
			it is important for search engine which always check the top content-->
			<!-- push:to right; pull:to left-->
			<div class="col-md-12">
				<div class="panel panel-default">
  				<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<img src="images/pizzashack-cover-01.jpeg" class="img-responsive img-thumbnail" >
					</div>
				</div>
				<p class="h4 text-right">{{pizzaItem.pizzaName}}<br> <small>16 June 2014</small></p>
				<p class="text-justify">
					{{pizzaItem.description}}
				</p>
				<div class="table-responsive">
					<dl class="dl-horizontal">
						<dt>Id</dt>
					  <dd>{{id}}</dd>
					  <dt>Name</dt>
					  <dd>{{pizzaItem.pizzaName}}</dd>
					  <dt>Price</dt>
					  <dd>$ {{pizzaItem.price}}</dd>
					</dl>
				</div>
				
				</div>
				</div>

			</div>

			</div>
		</div>
	</div>