<div class="container" style="padding:20px" ng-controller="PizzaDetailInfoCtrl">
		<div class="row">
		<div class="col-md-10 col-md-push-2">
				<div class="panel panel-default">
		  			<div class="panel-body">
		  				<div class="row">
							<div class="col-md-4">
								<img src="{{pizzaItem.data.icon}}" class="img-responsive img-thumbnail" >
							</div>
							<div class="col-md-8">
								
									<h4><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{pizzaItem.data.viewed}}</h4>
									<h4><span class="glyphicon glyphicon-thumbs-up"></span> {{pizzaItem.like}}</h4>
									<h4><span class="glyphicon glyphicon-thumbs-down"></span> {{pizzaItem.dislike}}</h4>
								
							</div>
						</div>

						<p class="h5 text-left">{{pizzaItem.data.pizzaName}}<br> <small>{{pizzaItem.data.createTime}}</small></p>
						<p class="text-justify">
							{{pizzaItem.data.description}}
						</p>
						
						<!--details start-->
						<div class="table-responsive">
							<dl class="dl-horizontal">
							  <dt>Id</dt>
							  <dd>{{id}}</dd>
							  <dt>Name</dt>
							  <dd>{{pizzaItem.data.pizzaName}}</dd>
							  <dt>Price</dt>
							  <dd>$ {{pizzaItem.data.price}}</dd>
							  <dt>Amount</dt>
							  <dd>{{pizzaItem.data.amount}}</dd>
							</dl>
						</div>
						<!--details end-->
		  			</div>
		  		</div>
		</div>

		<div class="col-md-2 col-md-pull-10">
			<div class="panel panel-default">
	  			<div class="panel-body">
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation" class="active"><a ng-href="#/pizza">Query</a></li>
					  	<li role="presentation"><a ng-href="#/pizza/create">Create</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>